# Ignore everything by default
/*

# Keep gitignore itself
!/.gitignore

# Allow only project folders to publish
!/.vscode/
!/.vscode/**
!/assets/
!/assets/**
!/scripts/
!/scripts/**
!/src/
!/src/**

# Allow only root files to publish
!/.gitignore
!/LICENSE
!/README.md
!/app.json
!/package.json
!/package-lock.json
!/tsconfig.json

# Always ignore sensitive/env/private files even if added in allowed folders
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.p8
**/*.p12
**/*.jks
**/*.keystore
**/*.mobileprovision
**/GoogleService-Info.plist
**/google-services.json
